In [20]:
import pandas as pd
import numpy as np

In [3]:
mpg = pd.read_csv('mpg.csv')

In [4]:
mpg.loc[[64, 123, 130, 152, 211], 'hwy'] = np.nan

In [5]:
mpg.loc[[64, 123, 130, 152, 211], 'hwy'] = np.nan

In [7]:
print("결측치 개수:")
print(mpg[['drv', 'hwy']].isna().sum())

결측치 개수:
drv    0
hwy    5
dtype: int64

In [8]:
result = mpg.dropna(subset=['hwy']).groupby('drv')['hwy'].mean()
print("'drv'별 'hwy' 평균(결측치 제거 후):")
print(result)

'drv'별 'hwy' 평균(결측치 제거 후):
drv
4    19.242424
f    28.200000
r    21.000000
Name: hwy, dtype: float64

In [9]:
mpg.loc[[9, 13, 57, 92], 'drv'] = 'k'
mpg.loc[[28, 42, 128, 202], 'cty'] = [3, 4, 39, 42]

In [17]:
print("drv 이상치 확인 (isin의 반대):")
print(mpg['drv'].isin(['4', 'f', 'r']).value_counts())

drv 이상치 확인 (isin의 반대):
drv
True     230
False      4
Name: count, dtype: int64

In [18]:
print("\nTrue: 정상값 / False: 이상치")
print(mpg['drv'].isin(['4', 'f', 'r']))

True: 정상값 / False: 이상치
0      True
1      True
2      True
3      True
4      True
       ...
229    True
230    True
231    True
232    True
233    True
Name: drv, Length: 234, dtype: bool

In [11]:
mpg['drv'] = np.where(mpg['drv'] == 'k', np.nan, mpg['drv'])

In [13]:
pct25 = mpg['cty'].quantile(0.25)  # 1사분위수
pct75 = mpg['cty'].quantile(0.75)  # 3사분위수
iqr = pct75 - pct25                # IQR
lower = pct25 - 1.5 * iqr          # 하한
upper = pct75 + 1.5 * iqr          # 상한

In [14]:
mpg['cty'] = np.where((mpg['cty'] < lower) | (mpg['cty'] > upper), np.nan, mpg['cty'])

In [15]:
result = mpg.dropna(subset=['drv', 'cty']) \
            .groupby('drv') \
            .agg(mean_cty=('cty', 'mean'))

In [ ]:
print("3. 이상치 제거 후 drv별 cty 평균:")
print(result)

3. 이상치 제거 후 drv별 cty 평균:
      mean_cty
drv
4    14.247423
f    19.470000
r    13.958333